{{define "footer"}}
 <footer id="footer" class="container-fluid text-center">
            <div class="row">
              <div class="col-sm-4">
                <h4>Stefan Cel Mare, Nr 154, Vaslui</h4>
                <h4>Alexandru cel Bun Nr. 10 Iasi</h4>
                <h4>E-mail:  office@tropesoft.ro</h4>
                <h4>Tel: +40 758 915 802</h4>
                <h4>Date Fiscale</h4>
                <h4>R.C. J37/357/2017</h4>
                <h4>Cod Fiscal 37620966</h4>
              </div>
              <div class="col-sm-4">
                <h2>Social Media</h2>
                <div class="social">
                  <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                  <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
              </div>
              <div class="col-sm-4">
                <h4>Adrese Email:</h4>
                <h4>Office: office@tropesoft.ro</h4>
                <h4>Vanzari: sales@tropesoft.ro</h4>
                <h4>Suport:  support@tropesoft.ro</h4>
                <h4>Gdpr:  gdpr@tropesoft.ro</h4>
                <p>&copy; 2018 Tropesoft</p>
              </div>
              </div> <!--end of row-->
          </footer> <!-- end of container -->
{{end}}